/* global  */
body{
    background-color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background img */
header {
    background: url("Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    justify-content: space-between;
    display: flex;
}
/* button style  */
.button {
    font-size: 16px;
    font-weight: bold;
    background: rgb(78, 71, 255);
    color: white;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 2px 3px 3px -1px black;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover {
    background: rgb(185, 255, 231);
    color: black;
}
/* bg style */
section {
    padding: 50px 10px;
}

.logo {
    color: rgb(17, 8, 255);
    font-size: 34px;
    font-weight: 900;
}

.box {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* banner */

.banner {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.ban-title {
    color: rgb(21, 20, 28);
    font-size: 65px;
    font-weight: bold;
}

.banner button {
    margin: 20px 0;
}

/* Action Section */
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  background: #fff9f9; 
  padding-left: 141px ;
  padding-right: 159px;
  border-radius: 24px;
}

.text-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content .title {
  font-size: 42px;
  color:rgba(37, 36, 50, 1);
  font-weight: bold;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 24px;
  color:rgba(37, 36, 50, 0.5);
  margin-bottom: 30px;
  line-height: 30px 0px;
}

.text-content .btn {
  background: #5d5fef;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  transition: background 0.3s;
}

.text-content .btn:hover {
  background: #4446e2;
}
/* image */
.action-img img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  box-shadow: 20px 10px 30px rgb(69, 10, 10);
}




