/* global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: 'Raleway', sans-serif;

}

/* background img */
header {
    background: url("Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    justify-content: space-between;
    display: flex;
}

/* button style  */
.button {
    font-size: 16px;
    font-weight: bold;
    background: rgb(78, 71, 255);
    color: white;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 2px 3px 3px -1px black;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background: rgb(185, 255, 231);
    color: black;
}

/* bg style */
section {
    padding: 50px 10px;
}

.logo {
    color: rgb(17, 8, 255);
    font-size: 34px;
    font-weight: 900;
}

.box {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* banner */

.banner {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.ban-title {
    color: rgb(21, 20, 28);
    font-size: 65px;
    font-weight: bold;
}

.banner button {
    margin: 20px 0;
}

/* Action Section */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    background: #f5f7ff;
    padding-left: 141px;
    padding-right: 159px;
    border-radius: 24px;
}

.text-content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content .title {
    font-size: 42px;
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 30px;
    line-height: 30px 0px;
}

.text-content .btn {
    background: #5d5fef;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    transition: background 0.3s;
}

.text-content .btn:hover {
    background: #4446e2;
}

/* image */
.action-img img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
    box-shadow: 20px 10px 30px rgb(69, 10, 10);
}


/* Productive Users Section */

.productive-users {
    width: 1140px;
    height: 356px;
    margin: 80px auto;
    padding: 80px 50px;
    background: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;

}

.productive-users h2 {
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);

    margin-bottom: 40px;
}

.productives-content {
    display: flex;
    justify-content: center;
    gap: 158px;
}

.productive h2 {
    font-size: 80px;
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
    width: 178px;
    height: 97px;
}

.productive p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* Touch Section */
.touch {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 186px 114px;
    gap: auto;
    background: #f5f7ff;
}

.touch-left {
    flex: auto;
}

.touch-title {
    font-size: 97px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding: 100px;
}

.touch-right {
    flex: 1;
}
.touch-right form {
    display: flex;
    flex-direction: column;
}
.touch-right label {
    font-size: 18px;
    font-weight: medium;
    margin-bottom: 19px;
    color: #333;
}
.touch-right input,
.touch-right textarea {
    padding: 14px 18px;
    font-size: 20px;
    border: 2px solid #340303;
    margin-bottom: 20px;
    outline: none;
}
.touch-right input::placeholder,
.touch-right textarea::placeholder {
    font-size: 20px;
}

/* 6. Footer Section */
.footer {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 20px;
  
  text-align: center;
  margin-bottom: 104px;
}

.logo2 {
  font-size: 100px;
  font-weight:bold;
  color: blue;
  margin-bottom: 20px;
}

.footer-description {
  color:rgba(137, 135, 161, 1);
  margin-bottom: 40px;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.footer-nav li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-nav li a:hover {
  color: #4e4eff;
}
/* extra style with link and button  */
/*CHALLENGES- button animation */
.btn1 {
  font-size: 16px;
  font-weight: bold;
  background: white;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 6px black;
}

.btn1:hover {
  background: #b9ffe7;
  transform: scale(1.2);
  box-shadow: 0 8px 6px black;
}

/* big png -Ready to focus better */

.box2 {
    background: #f5f7ff;
  border-radius: 15px;
  width: 1140px;
  height: 696.77;
  padding: 71px 150px;
  margin: 10px auto;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #000000;
}

p {
  color:rgba(0, 0, 0, 0.5);
  margin: 10px 0 20px;
}

.image {
  margin-top: 10px;
  width: 840px;
  height: 364.77px;
  border-radius: 48px;
}

/* <!--🧪 CHALLENGES -Review Section  --> */

.feedback {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  background: rgba(78, 71, 255, 0.1);
  border-radius: 14px;
  padding: 20px;
  width: 260px;
  text-align: left;
}


.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}